.member-container{
    width: 15vw;
    align-items: flex-start;
    justify-content: center;
}

.member-container img{
    width: 12vw;
    height: auto;
    margin: 2vh 0;
}

.member-container p{
    margin: 2vh 0;
}