
.item {
    display: flex;
    column-gap: 2vw;
    align-items: self-start;
    justify-content: space-between;
    min-height: 80vh; /* Increase the height of each item */
    max-width: 65vw;
    padding: 20vh 2vw 20vh 5vw; /* Add vertical spacing */
    opacity: 0;
    transform: translateX(-10vw);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    will-change: transform, opacity;
}

.item.left .content,
.item.right .content {
    width: 100%;
    padding: 2vw;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.item.left .content,
.item.right .content {
    text-align: left;
}

.item.left,
.item.right {
    width: 100%;
    height: auto;
}
.item.right img, .item.left img{
    width: 35vw;
    height: auto;
}
.item.right img{
    padding-left: 3vw;
}
.item.left img{
    padding-right: 3vw;
}

.content {
    padding: 0.5vw;
    background: rgba(255, 255, 255, 0.1); /* Subtle background for content */
    align-content: space-between;
    border-radius: 10px; /* Rounded corners */
}

.content p {
    font-size: 2vw;
    text-align: center;
}
.content text {
    font-size: 1vw;
}