@font-face {
    font-family: 'Poppins';
    src: url('../../../fonts/poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Sansation';
    src: url('../../../fonts/sansation/Sansation_Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Sansation-Bold';
    src: url('../../../fonts/sansation/Sansation_Bold.ttf') format('truetype');
}

.tear-list {
    background: #3871c1;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 15vh 5vw 15vh 5vw;
}

.grid-container {
    display: flex;
}

.left-column, .right-column {
    flex: 1;
}

.grid-row {
    padding: 8px;
    border: 1px solid #ccc;
    margin: 4px;
}
