/* App.css */
@font-face {
  font-family: 'Sansation';
  src: url('./fonts/sansation/Sansation_Regular.ttf') format('truetype'); /* Path to your sansation font file */
}
@font-face {
  font-family: 'Sansation-Light';
  src: url('./fonts/sansation/Sansation_Light.ttf') format('truetype'); /* Path to your sansation font file */
}
@font-face {
  font-family: 'Space Age';
  src: url('./fonts/space_age/Space_Age.ttf') format('truetype'); /* Path to your Space Age font file */
}

.landing-page {
  /* Replace with your actual background image */
  background: #041b3a url("./assets/background.jpeg") no-repeat center center;
  font-family: 'Arial', sans-serif;
  color: white;
  text-align: center;
  height: 100vh;
}

.landing-header {
  display: flex;
  flex-direction: row;
  padding: 1vw;
  background: rgb(2, 14, 31);
  align-items: center;
}
.landing-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Align nav items in a row */
  align-items: center;
  height: 100%;
}

.header-logo {
  /* Adjust the size of your logo as necessary */
  height: auto; /* Example height for your logo */
  width: 10vw;
  align-self: center;
  padding-right: 32vw;
}

.nav-link {
  /* Adjust the size of your logo as necessary */
  height: 4vh; /* Example height for your logo */
}

.landing-nav ul li {
  height: 4vw;
  margin-left: 3vw;
}

.landing-nav ul li a {
  font-family: 'Sansation', sans-serif;
  font-size: 1vw;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 4vw;
}
.top-logos {
  width: 50%;
  padding-left: 25%;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.top-logo {
  height: auto;
  width: 14vw;
  padding-right: 2vw;
  padding-left: 2vw;
}

.hero {
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.name-text {
  font-family: 'Sansation-Light', sans-serif;
  font-size: 1.8vw; /* Adjust the size as needed */
  color: #3871c1;
  text-shadow: #3871c1 0 0 1vw;
  margin: 0;
}
.hero-text {
  font-family: 'Sansation', sans-serif;
  font-size: 12vw; /* Adjust the size as needed */
  text-shadow: #3871c1 0 0 2vw;
  margin: 0;
}

.hero-text .hero-number {
  font-family: 'Sansation', sans-serif;
  font-size: 12vw;
  color: #01a6e8;
  text-shadow: #01a6e8 0 0 1vw;
  /* Additional styling for the number '2' if necessary */
}

.hero-date, .hero-location {
  font-family: 'Sansation', sans-serif;
  font-size: 2vw;
  margin: 10px 0;
  color: #a6a6a6;
}

.hero-button {
  font-family: 'Sansation', sans-serif;
  font-size: 1.25vw; /* Increased the font size for better readability */
  color: #ffffff;
  background: #3871c1;
  text-decoration: none;
  padding: 1vw 2vw; /* Add some padding around the text */
  border: none; /* Removes the border */
  border-radius: 0.2vw; /* Slightly rounded corners */
  box-shadow: 0.1vw 0.15vw 0.5vw black; /* Subtle shadow to give depth */
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
  transition: background-color 0.2s, box-shadow 0.2s; /* Smooth transition for hover effects */
}

.hero-button:hover, .hero-button:focus {
  background: #305ba7; /* Darker shade on hover for feedback */
  box-shadow: 0.2vw 0.3vw 0.6vw black; /* Slightly more pronounced shadow on hover */
  outline: none; /* Removes the outline on focus, may need to provide alternative focus styles for accessibility */
}

.padding-small{
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.padding-med{
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.padding-large{
  padding-top: 6vh;
  padding-bottom: 6vh;
}
/* Media queries and other styles ... */
